@charset "UTF-8";

* {
    margin: 0;
    padding: 0%;
}

div.conteiner1 {
    display: flex;
    align-items: center;
    justify-content: center;
}


div > section.primeiro {
    border: 1px solid black;
    width: 50%;
}
div > section.primeiro > img {
    width: 100%;
}

div > section.segundo {
    border: 1px solid black;
    width: 50%;
}









footer > img.icone-do-login {
    width: 30px;
}